<a href="https://colab.research.google.com/github/Nivesri03/DSI/blob/main/TASK_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={"Cars":["bmw","audi"],"Ranks":[1,2]}
X=pd.DataFrame(data)
print(X)

   Cars  Ranks
0   bmw      1
1  audi      2

In [ ]:

import pandas as pd
a=[3,4,5,6,7]
myvar=pd.Series(a)
print(myvar[3])

6

In [ ]:

import pandas as pd
a=[3,4,5,6,7]
myvar=pd.Series(a,index=['v','w','x','y','z'])
print(myvar)

v    3
w    4
x    5
y    6
z    7
dtype: int64

In [ ]:
import pandas as pd
a={"country":["Indian","Belgium"],
"Capital":["Delhi","Brussel"]}
df=pd.DataFrame(a, columns=["country","capital"])
print (df)

   country capital
0   Indian     NaN
1  Belgium     NaN

In [ ]:
import pandas as pd
a=pd.Series([1,2,3])
print(a)

0    1
1    2
2    3
dtype: int64

In [ ]:

import pandas as pd
df=pd.DataFrame(
    {'a':[1,2,3,4],
     'b':[8,4,9,2],
    'c':[1,2,3,10]})
print(pd.melt(df))

   variable  value
0         a      1
1         a      2
2         a      3
3         a      4
4         b      8
5         b      4
6         b      9
7         b      2
8         c      1
9         c      2
10        c      3
11        c     10

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:

import pandas as pd

# Creating a dict of lists
data = {'Name':["Akash", "Geeku", "Pankaj", "Sumitra", "Ramlal"],
       'Branch':["B.Tech", "MBA", "BCA", "B.Tech", "BCA"],
       'Score':["80", "90", "60", "30", "50"],
       'Result': ["Pass", "Pass", "Pass", "Fail", "Fail"]}

# creating a dataframe
df = pd.DataFrame(data)

df

      Name  Branch Score Result
0    Akash  B.Tech    80   Pass
1    Geeku     MBA    90   Pass
2   Pankaj     BCA    60   Pass
3  Sumitra  B.Tech    30   Fail
4   Ramlal     BCA    50   Fail

In [ ]:

import pandas as pd

# Creating a dict of lists
data = {'name':["Akash", "Geeku", "Pankaj", "Sumitra", "Ramlal"],
       'Branch':["B.Tech", "MBA", "BCA", "B.Tech", "BCA"],
       'Score':["80", "90", "60", "30", "50"],
       'Result': ["Pass", "Pass", "Pass", "Fail", "Fail"]}

df = pd.DataFrame(data)

# pivoting the dataframe
df.pivot(index ='Result', columns ='name')

df

      name  Branch Score Result
0    Akash  B.Tech    80   Pass
1    Geeku     MBA    90   Pass
2   Pankaj     BCA    60   Pass
3  Sumitra  B.Tech    30   Fail
4   Ramlal     BCA    50   Fail

COUNT OF THE DATAFRAMES

In [ ]:

import numpy as np
import pandas as pd
NaN = np.nan
dataframe = pd.DataFrame({'Name': ['Shobhit', 'Vaibhav',
                                   'Vimal', 'Sourabh',
                                   'Rahul', 'Shobhit'],
                          'Physics': [11, 12, 13, 14, NaN, 11],
                          'Chemistry': [10, 14, NaN, 18, 20, 10],
                          'Math': [13, 10, 15, NaN, NaN, 13]})

display(dataframe)
dataframe.count()
print(dataframe.count(axis = 1))

print(dataframe.count(axis = 'columns'))
# it will give the count
# of individual columns count of null values
print(dataframe.isnull().sum())

# it will give the total null
# values present in our dataframe
print("Total Null values count: ",
      dataframe.isnull().sum().sum())
print("Count of students with physics marks greater than 11 is->",
      dataframe[dataframe['Physics'] > 11]['Name'].count())

# resultant of above dataframe
dataframe[dataframe['Physics']>11]
print("Count of students ->",
      dataframe[(dataframe['Physics'] > 10) &
                (dataframe['Chemistry'] > 11) &
                (dataframe['Math'] > 9)]['Name'].count())

# dataframe of above result
dataframe[(dataframe['Physics'] > 10 ) &
          (dataframe['Chemistry'] > 11 ) &
          (dataframe['Math'] > 9 )]

      Name  Physics  Chemistry  Math
0  Shobhit     11.0       10.0  13.0
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN
4    Rahul      NaN       20.0   NaN
5  Shobhit     11.0       10.0  13.0

0    4
1    4
2    3
3    3
4    2
5    4
dtype: int64
0    4
1    4
2    3
3    3
4    2
5    4
dtype: int64
Name         0
Physics      1
Chemistry    1
Math         2
dtype: int64
Total Null values count:  4
Count of students with physics marks greater than 11 is-> 3
Count of students -> 1

      Name  Physics  Chemistry  Math
1  Vaibhav     12.0       14.0  10.0

DISPLAY A CONCISE

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Displaying the DataFrame
display(dataframe)

# Using info() to get information about the DataFrame
dataframe.info()

      Name  Physics  Chemistry  Math
0  Shobhit     11.0       10.0  13.0
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN
4    Rahul      NaN       20.0   NaN
5  Shobhit     11.0       10.0  13.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       6 non-null      object
 1   Physics    5 non-null      float64
 2   Chemistry  5 non-null      float64
 3   Math       4 non-null      float64
dtypes: float64(3), object(1)
memory usage: 320.0+ bytes

DISPLAY HEAD() AND TAIL() FUNCTION

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Displaying the first few rows of the DataFrame using head()
df_head = dataframe.head()

print("First few rows of the DataFrame:")
print(df_head)

First few rows of the DataFrame:
      Name  Physics  Chemistry  Math
0  Shobhit     11.0       10.0  13.0
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN
4    Rahul      NaN       20.0   NaN

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Displaying the last few rows of the DataFrame using tail()
df_tail = dataframe.tail()

print("Last few rows of the DataFrame:")
print(df_tail)

Last few rows of the DataFrame:
      Name  Physics  Chemistry  Math
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN
4    Rahul      NaN       20.0   NaN
5  Shobhit     11.0       10.0  13.0

TO GENERATE THE DATA

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Using describe() to get summary statistics of the DataFrame
df_description = dataframe.describe()

print("Summary Statistics of the DataFrame:")
print(df_description)

Summary Statistics of the DataFrame:
        Physics  Chemistry       Math
count   5.00000   5.000000   4.000000
mean   12.20000  14.400000  12.750000
std     1.30384   4.560702   2.061553
min    11.00000  10.000000  10.000000
25%    11.00000  10.000000  12.250000
50%    12.00000  14.000000  13.000000
75%    13.00000  18.000000  13.500000
max    14.00000  20.000000  15.000000

TO RETURN THE SHAPE OF THE DATAFRAME

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Using shape to get the number of rows and columns in the DataFrame
df_shape = dataframe.shape

print("Shape of the DataFrame:")
print(df_shape)

Shape of the DataFrame:
(6, 4)

RETURN THE COLUMN OF THE TABLE

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Accessing the 'Physics' column
physics_column = dataframe['Physics']

print("Physics Column:")
print(physics_column)

Physics Column:
0    11.0
1    12.0
2    13.0
3    14.0
4     NaN
5    11.0
Name: Physics, dtype: float64

RETURN THE DATATYPE OF THE COLUMN

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Using dtypes to get the data types of each column in the DataFrame
df_dtypes = dataframe.dtypes

print("Data Types of DataFrame Columns:")
print(df_dtypes)

Data Types of DataFrame Columns:
Name          object
Physics      float64
Chemistry    float64
Math         float64
dtype: object

TO IDENTIFY THE MISSING VALUE OR NAN VALUE

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Using isnull() to identify missing values in the DataFrame
df_missing_values = dataframe.isnull()

print("DataFrame with Missing Values Marked as True:")
print(df_missing_values)

DataFrame with Missing Values Marked as True:
    Name  Physics  Chemistry   Math
0  False    False      False  False
1  False    False      False  False
2  False    False       True  False
3  False    False      False   True
4  False     True      False   True
5  False    False      False  False

TO FILTER ROWS

In [ ]:

import numpy as np
import pandas as pd

NaN = np.nan

dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Using query() to filter rows based on a condition
filtered_dataframe = dataframe.query("Physics > 11 and Chemistry > 11 and Math > 9")

print("Filtered DataFrame:")
print(filtered_dataframe)

Filtered DataFrame:
      Name  Physics  Chemistry  Math
1  Vaibhav     12.0       14.0  10.0

TO ACCESS THE ROWS AND COLUMNS BY LABLES

In [ ]:

import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Use loc to select rows based on labels
selected_row = df.loc[1]  # Selects the row with label 1
print(selected_row)

Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

TO ACCESS ROWS AND COLUMNS BY INTEGER POSITIONS

In [ ]:

import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Use iloc to select rows and columns by integer positions
selected_data = df.iloc[1, :]  # Selects the second row, all columns
print(selected_data)

Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

TO ACCESS COLUMN

In [ ]:

import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Access a specific column
ages_column = df['Age']
print(ages_column)

0    25
1    30
2    35
Name: Age, dtype: int64

TO ACCESS MULTIPLE COLUMNS

In [ ]:

import pandas as pd

# Create a sample DataFrame
data = {'col1': [1, 2, 3],
        'col2': ['a', 'b', 'c'],
        'col3': [4.5, 6.1, 8.0]}

df = pd.DataFrame(data)

# Select specific columns
selected_columns = df[['col1', 'col2']]
print(selected_columns)

   col1 col2
0     1    a
1     2    b
2     3    c

TO FILL MISSING NAN VALUES

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'col1': [1, 2, 3],
        'col2': ['a', 'b', 'c'],
        'col3': [4.5, 6.1, 8.0]}

df = pd.DataFrame(data)
print (df)
# Assuming df is your DataFrame
print (df.fillna(value=0, inplace=True))

   col1 col2  col3
0     1    a   4.5
1     2    b   6.1
2     3    c   8.0
None

TO MAP THE VALUES OF SERIES

In [ ]:
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}

df = pd.DataFrame(data)

# Creating a mapping dictionary
mapping_dict = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

# Applying the mapping to a specific column ('A' in this case)
df['A_mapped'] = df['A'].map(mapping_dict)

TO APPLY THE FUNCTIONS ALONG THE DATAFRAMES

In [ ]:

import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}

df = pd.DataFrame(data)

# Define a custom function
def square_sum(column):
    return column.sum() ** 2

# Apply the function to each column
result = df.apply(square_sum)
print (result)
# result is a Series with the squared sum for each column

A     36
B    225
dtype: int64

COMPUTE PAIRWISE CORRELATION

In [ ]:

import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [4, 5, 6, 7],
        'C': [7, 8, 9, 10]}

df = pd.DataFrame(data)

# Calculating the correlation matrix
c = df.corr()
print(c)

     A    B    C
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0

TO SHIFT THE VALUE

In [ ]:

import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}

df = pd.DataFrame(data)

# Shifting values in a specific column (e.g., 'A') by 1 position
df['A_shifted'] = df['A'].shift(1)

RESAMPLE()

In [ ]:

import pandas as pd

# Creating a DataFrame with a datetime index
date_rng = pd.date_range(start='2023-01-01', end='2023-01-10', freq='D')
data = {'values': range(10)}
df = pd.DataFrame(data, index=date_rng)

# Resampling to a weekly frequency, taking the mean of each week
df_resampled = df.resample('W').mean()

TO RENAME THE INDEX OR COLUMN

In [ ]:

import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}

df = pd.DataFrame(data, index=['X', 'Y', 'Z'])

# Rename a single column
df.rename(columns={'A': 'New_A'}, inplace=True)

# Rename the index
df.rename(index={'X': 'New_X'}, inplace=True)